{% extends 'base.html' %}
{% block content %}
    <head>
    <title>Stuff about me</title>
    <link rel="stylesheet" href="{{url_for('.static', filename='styles.css')}}">
    </head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<div style="margin-top: 4em">
<body>
<div class="vertical-menu" >
    <h1 style="margin-left: 16px; position: relative">Stuff about me: </h1>
  <a href="/music">The music I listen to</a>
  <a href="/books">The books I like</a>
  <a href="/movies">The movies I like</a>
</div>
</body>
</div>
{% endblock %}
{% block footer %}

{% endblock %}