{% extends 'aboutme.html' %}


{% block footer %}
    <head>
        <title>books <3</title>
        <link rel="stylesheet" href="{{ url_for('.static', filename='styles.css') }}">
        <script language="JavaScript" type="test/javascript" src="{{ url_for('static', filename='static/js/scrolltest.js') }}">
    </script>
    </head>
    <style>
    </style>
    <body>

    <h1 class="header_style" ><span>The books I like</span></h1>
    <br>
    <br>
    <div class="style_movies">
        {% for b in response.get('items',[]) %}

            <h1>{{ b['volumeInfo']['title'] }}</h1>
            <p><img alt="Qries" height="350" width="250" src={{ b['volumeInfo']['imageLinks']['thumbnail'] }}></p>
            <h2>From: {{ b['volumeInfo']['authors'][0] }}</h2>
            <h3><a target="_blank" href={{ b['volumeInfo']['previewLink'] }}>Check it out</a></h3>
        {% endfor %}
    </div>
    </body>
{% endblock %}