{% extends 'aboutme.html' %}


{% block footer %}
    <head>
        <title>books <3</title>
        <link rel="stylesheet" href="{{ url_for('.static', filename='styles.css') }}">
        <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css"/>
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script>
{#$(window).scroll(function() {#}
{#    console.log($(this).scrollTop())#}
{#    console.log($('.test').opacity)#}
{#    console.log($('.test').position().top)#}
{#    if ($(this).scrollTop() % 100 ===0 && $(this).scrollTop() !== 0) {// can be whatever, 0 refers to the top space you allow#}
{#        $('.test').fadeOut();// Hide your element#}
{#    }#}
{#    else#}
{#        $('.test').fadeIn();#}
{##}

        </script>

    </head>
    <style>
    </style>
    <body>
    <h1 class="header_style"><span>The books I like</span></h1>
    <br>
    <br>
    <div class="style_movies" data-aos="fade-left">
        {% for b in response.get('items',[]) %}
            <h1>{{ b['volumeInfo']['title'] }}</h1>
            <div class="test">
                <p><img alt="Qries" height="350" width="250" src={{ b['volumeInfo']['imageLinks']['thumbnail'] }}></p>
            </div>
            <h2>From: {{ b['volumeInfo']['authors'][0] }}</h2>
            <h3><a target="_blank" href={{ b['volumeInfo']['previewLink'] }}>Check it out</a></h3>
        {% endfor %}
    </div>
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
        AOS.init();

    </script>
    </body>
{% endblock %}