{% extends 'base.html' %}
{% block content %}

{#    <head>#}
    <title>
My Projects
</title>
    <div style="margin-top: 4em;padding-left: 16px">
    <img style='max-width: 10%; height: 10%; vertical-align: middle' src="{{ url_for('static', filename='images/img.png')}}" alt="">
    <span>
        <a style="font-weight: bold" href="https://github.com/linusschlepp" target="_blank">Check out my GitHub</a>
    </span>
{#        </head>#}
        <br>
        <br>
        <h4>You are on my website aren't you? So, you are checking out one of my projects right now ,<u>Congratulations!</u>
            This website was built by me using the Python-WebApplicationFramework "Flask".  </h4>
        <br>
    <h4>Download my very, very simple Java IDE (one of my projects as well btw):  </h4>
    <h5><a style="font-weight: bold" target=_blank" href="https://www.google.com/">Dummy link</a></h5>
    <h4>This IDE was written in Java, using the Maven-Framework. JavaFx was used for the GUI-Design, if you want to check out the Code just go on my
        GitHub (link above) or click <a href="https://github.com/linusschlepp/IDE_" target="_blank"> here! </a></h4>
</div>
{% endblock %}