{% extends 'base.html' %}

{% block content %}
    <title>
        Home
    </title>
    <style>

        img {
            max-width: 500px;
            max-height: 500px;
            padding-right: 10px;
            alignment: left
        }
    </style>
    <div style="margin-left: 16px;margin-top: 4em">
        <h1>Hey! Welcome to my website, I'm Linus Schlepp :)</h1>
        <h3>This is what I look like:</h3>
        <br>
        <div style="display: flex">
                <img
                     src="{{ url_for('static', filename='images/image.JPG') }}" alt="">
                <ul>
                    <h3>My hobbies: </h3>
                    <li><h4>Sports (mostly Cardio)</h4></li>
                    <li><h4>Reading</h4></li>
                    <li><h4>That's basically it... </h4></li>
                </ul>
        </div>
    </div>
    <hr>
    <br>
    <div style="display: flex">
    <img style='max-width: 50%; height: 50%; display: flex'
         src="{{ url_for('static', filename='images/img_1.png') }}" alt="">
    <h3>
        <br>
        <br>
        I study Business Informatics at <a target="_blank"  href="https://www.oth-regensburg.de/">OTH Regensburg.</a>
        <br>
        <a href="/maps" target="_blank">Where exactly is Regensburg? </a>
        </h3>
    </div>
    <br>
{% endblock %}
