{% extends 'aboutme.html' %}


{% block footer %}

    <head>
        <title>
            movies <3
        </title>
        <link rel="stylesheet" href="{{ url_for('.static', filename='styles.css') }}">
    </head>
    <div class="style_movies">
        <h1 style="position: fixed"><span>The movies I like</span></h1>
        <br>
        <br>
        <div class="style_movies">
            {% for m in movies %}
                <h2>{{ m['smart long imdb canonical title'] }}</h2>
                <p><img alt="Qries" height="480" width="420" src={{ m['full-size cover url'] }}></p>
                {#            <p>{{ m['long imdb title'] }}</p>#}
                <h3> {{ m['movieID']['plot'] }} </h3>

            {% endfor %}
        </div>
    </div>

{% endblock %}