{% extends 'currentproject.html' %}


 <link rel="stylesheet" href="{{url_for('.static', filename='styles.css')}}">
{% block footer %}
    <head>
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css"/>

    </head>
    <body>

    <div style="text-indent:  370px">
    <div class="style_projects" data-aos="fade-left">
        <h2 style="font-weight: bold; font-style: italic"><span><u>1st Project: Selfmade Java IDE</u></span></h2>
        <h4><span>Download my very, very simple Java IDE:</span></h4>
        <h5><span><a style="font-weight: bold" target=_blank" href="https://www.google.com/">Dummy link</a></span></h5>
        <h4><span>This IDE was written in Java, using the Maven-Framework. JavaFx was used for the GUI-Design.</span></h4>
        <h4><span>If you want to check out the Code just go on my  GitHub (link above) or click <a href="https://github.com/linusschlepp/IDE_" target="_blank"> here!</a></span></h4>
   </div>
    </div>
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
        AOS.init();

    </script>
    </body>
{% endblock %}