{% extends 'currentproject.html' %}


 <link rel="stylesheet" href="{{url_for('.static', filename='styles.css')}}">
{% block footer %}
    <div style="text-indent:  370px">
    <div class="style_projects">
        <h2 style="font-weight: bold; font-style: italic"><span><u>1st Project: Selfmade Java IDE</u></span></h2>
        <h4><span>Download my very, very simple Java IDE (one of my projects as well btw):</span></h4>
        <h5><span><a style="font-weight: bold" target=_blank" href="https://www.google.com/">Dummy link</a></span></h5>
        <h4><span>This IDE was written in Java, using the Maven-Framework. JavaFx was used for the GUI-Design.</span></h4>
        <h4><span>If you check out the Code just go on my  GitHub (link above) or click <a href="https://github.com/linusschlepp/IDE_" target="_blank"> here!</a></span></h4>
   </div>
    </div>
{% endblock %}